<div class="container">
<!--
    <h2 class="fw-bold mb-2 text-uppercase">Please enter new experience</h2>
    <div class="row">
        <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
            <div class="form-group mb-4">
                <label class="form-label" for="nombreEmpresa">Nombre de la empresa</label>
                <input type="text" id="nombreEmpresa" name="nombreEmpresa"
                    class="form-control" [(ngModel)]="nombreEmpresa" required />
            </div>
            <div class="form-group mb-4">
                <label class="form-label" for="infoPuesto">Descripcion del puesto</label>
                <input type="text" id="infoPuesto" name="infoPuesto" 
                class="form-control" [(ngModel)]="infoPuesto" required />
            </div>
            <button class="btn btn-outline-dark btn-lg px-5" type="submit">Crear</button>
        </form>
    </div>-->
</div>