<div class="central">
    <h2>Experiencia Profesional</h2>
    <button type="button" class="btn btn-outline-success" (click)="onClick()" *ngIf="isLogged">+</button>
    <ul>
        <div *ngFor="let Experiencia of exp"><!--Repeticion de las experiencias encontradas en una lista-->
            <div class="row">
                <li class="col-2">
                    <img src={{Experiencia.imagen}} class="img-fluid imagenfoto" alt="Foto Perfil">
                </li>
                <div class="col-8" style="margin: auto;">
                    <h5>{{Experiencia.infoPuesto}}</h5>
                    <p style="display: inline;">{{Experiencia.nombreEmpresa}} </p>
                    <p style="display: inline;">({{Experiencia.fechaInicio}} - {{Experiencia.fechaFin}})</p>
                </div>
                <div class="col-2 botones">
                <div>
                    <button style="display: inline;" class="btn btn-success" *ngIf="isLogged" (click)="onEditInit(Experiencia.id)"><i
                            class="bi bi-pencil"></i></button>
                    <button style="display: inline;" class="btn btn-danger" *ngIf="isLogged" (click)="onDelete(Experiencia.id)"><i
                            class="bi bi-x-lg"></i></button>
                    <!--Botones de edicion-->
                </div>
            </div>
                
            </div>
        </div>
        <div *ngIf="isLogged && agregarExperiencia">
            <!--Formulario para agregar una habilidad si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please enter new experience</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreEmpresa">Nombre de la empresa</label>
                        <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="form-control" [(ngModel)]="expEdit.nombreEmpresa"
                            required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="infoPuesto">Descripcion del puesto</label>
                        <input type="text" id="infoPuesto" name="infoPuesto" class="form-control" [(ngModel)]="expEdit.infoPuesto" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="fechaInicio">Fecha de inicio</label>
                        <input type="month" id="fechaInicio" name="fechaInicio" class="form-control" [(ngModel)]="expEdit.fechaInicio" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="fechaFin">Fecha de fin</label>
                        <input type="month" id="fechaFin" name="fechaFin" class="form-control" [(ngModel)]="expEdit.fechaFin" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="imagen">Imagen/Logo de la empresa</label>
                        <input type="file" id="imagen" name="imagen" class="form-control" [(ngModel)]="expEdit.imagen"
                            (change)="uploadImage($event)" (click)="loading()" accept=".jpg, .jpeg, .png" />
                        </div>
                        <div *ngIf="loadingImage">
                            <div class="spinner-border text-primary inline" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="d-inline"> Loading...</p>
                        </div>
                        <div class="form-group mb-4">
                            <img [src]="imgServ.url" width="200px">
                        </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Add</button>
                </form>
            </div>
        </div>
        <div *ngIf="isLogged && expEdit && isEditing">
            <!--Formulario para editar una habilidad si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please edit the selected skill</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onUpdate(expEdit.id)" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreEmpresa">Nombre de la habilidad</label>
                        <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="form-control"
                            [(ngModel)]="expEdit.nombreEmpresa" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="infoPuesto">Porcentaje de la habilidad</label>
                        <input type="text" id="infoPuesto" name="infoPuesto" class="form-control" [(ngModel)]="expEdit.infoPuesto"
                            required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="fechaInicio">Fecha de inicio</label>
                        <input type="month" id="fechaInicio" name="fechaInicio" class="form-control" [(ngModel)]="expEdit.fechaInicio" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="fechaFin">Fecha de fin</label>
                        <input type="month" id="fechaFin" name="fechaFin" class="form-control" [(ngModel)]="expEdit.fechaFin" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="imagen">Imagen/Logo de la empresa</label>
                        <input type="file" id="imagen" name="imagen" class="form-control" [(ngModel)]="expEdit.imagen"
                            (change)="uploadImage($event)" (click)="loading()" accept=".jpg, .jpeg, .png" />
                        </div>
                        <div *ngIf="loadingImage">
                            <div class="spinner-border text-primary inline" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="d-inline"> Loading...</p>
                        </div>
                        <div class="form-group mb-4">
                            <img [src]="imgServ.url" width="200px">
                        </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Edit</button>
                </form>
            </div>
        </div>
<!--
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Reparacion de equipos de soldadura</h5>
            <p style="display: inline;">Prestaciones Electricas </p>
            <p style="display: inline;">(Abril 2022 - Febrero 2023)</p>
        </div>
    </div>
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Gerente de restaurante</h5>
            <p style="display: inline;">Tato II </p>
            <p style="display: inline;">(Febrero 2022 - Julio 2022)</p>
        </div>
    </div>
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Vendedor en atencion al publico y administracion de cuenta de Mercado Libre</h5>
            <p style="display: inline;">Jugueteria Malabares Belgrano  </p>
            <p style="display: inline;">(Abril 2020 - Enero 2022)</p>
        </div>
    </div>
-->
    </ul>
</div>