.central {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
img{
    margin: 5px;
}
.botones{
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    align-items: center;
}