<div class="central">
    <h2>Experiencia Profesional</h2>
    <ul>
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Reparacion de equipos de soldadura</h5>
            <p style="display: inline;">Prestaciones Electricas </p>
            <p style="display: inline;">(Abril 2022 - Febrero 2023)</p>
        </div>
    </div>
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Gerente de restaurante</h5>
            <p style="display: inline;">Tato II </p>
            <p style="display: inline;">(Febrero 2022 - Julio 2022)</p>
        </div>
    </div>
    <div class="row">
        <li class="col-2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </li>
        <div class="col-10" style="margin: auto;">
            <h5>Vendedor en atencion al publico y administracion de cuenta de Mercado Libre</h5>
            <p style="display: inline;">Jugueteria Malabares Belgrano  </p>
            <p style="display: inline;">(Abril 2020 - Enero 2022)</p>
        </div>
    </div>
    </ul>
</div>