<header>
    <div class="row centrar">
        <div class="col-4 ">
            <img src="../../../assets/APLogo.png" alt="Logo" width="150" height="100" >  
            <!--Logo de Argentina Programa-->
        </div>
        <div class="col-8 derecha"><!--Redes sociales y Login-->
            <a href="error"><img src="../../../assets/linkedin.png" alt="linkedin" width="55">
            </a>
            <a href="https://www.instagram.com/matias_maci"><img src="../../../assets/instagram.png" alt="instagram" width="55">
            </a>
            <button class="justify-content-end btn btn-outline-success" 
            type="submit" (click)="SingIn()" *ngIf="!IsLogged">SING IN</button>
            <button class="justify-content-end btn btn-outline-danger" 
            type="submit" (click)="onLogOut()" *ngIf="IsLogged">SING OUT</button>
        </div>
    </div>
</header>