<div class="central">
    <h3>Logros</h3>
    <button type="button" class="btn btn-outline-success" *ngIf="isLogged" (click)="onClick()">+</button>
    <ul>
        <div *ngFor="let Logros of achi"><!--Repeticion de los logros encontrados en una lista-->
            <li>
                <h5 style="display: inline;">{{Logros.informacion}}</h5>
                <button class="btn btn-success" *ngIf="isLogged" (click)="onEditInit(Logros.id)"><i
                        class="bi bi-pencil"></i></button>
                <button class="btn btn-danger" *ngIf="isLogged" (click)="onDelete(Logros.id)"><i class="bi bi-x-lg"></i></button>
                <!--Botones de edicion-->
            </li>
        </div>
        <div *ngIf="isLogged && agregarLogro"> <!--Formulario para agregar nuevo logro si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please enter new achievements</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="informacion">Descripcion del logro</label>
                        <input type="text" id="informacion" name="informacion" class="form-control" [(ngModel)]="informacion"
                            required />
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Add</button>
                </form>
            </div>
        </div>
        <div *ngIf="isLogged && achiEdit && isEditing"><!--Formulario para editar un logro si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please edit the selected achievement</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onUpdate(achiEdit.id)" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="informacion">Descripcion del logro</label>
                        <input type="text" id="informacion" name="informacion" class="form-control"
                            [(ngModel)]="achiEdit.informacion" required />
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </ul>
</div>
<!--
    <ul>
        <li>Reconocimiento por mejores dieños de planos</li>
        <li>Reconocimientos por competiciones en OMA (Olimpiada de Matematica Argentina)</li>
        <li>1er puesto en OMI (Olimpiada de Matematica Interna)</li>
        <li>Mencion por mejor proyecto a la propuesta de Consultec BA</li>
    </ul>
-->