<div class="central">
    <div>
        <img src="../../../assets/banner4.avif" class="img-fluid" width="100%" height="50%">
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            <p>Matias Ezequiel Macijaukas</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin: auto;">
            <h1>Acerca de mi</h1>
            <p>Soy tecnico electronico, autodidacta, con ganas de aprender cosas nuevas
                y poder desarrollarme mejor en diferentes hambitos
            </p>
            <li>Ciudad: Villa Devoto, CABA, Buenos Aires</li>
            <li>Edad: 21 años</li>
        </div>
    </div>
</div>