<div class="body">
    <div class="btn diseño">
    <h4>PortFolio de Matias Macijaukas </h4><br>
    <h4>Proyecto para el programa/curso <br> YoProgramo de Argentina </h4><br>
    <p>
        Se trata de una pagina web creada y diseña por el usuario donde
        aqui se incluira el curriculum vitae(CV) de este. <br>
        Se incluira informacion de la persona con sus respectivos
        datos, experiencia laboral, formaciones, logros, objetivos
        y habilidades entre otros. <br>
        <br>
        Copyright 2023 Matias Macijaukas <br>
        V 1.0.0
    </p>

    <a routerLink="/">inicio</a>
</div>
</div>