<div class="body">
    <div class="btn diseño">
    <h4>PortFolio de Matias Macijaukas </h4><br>
    <h4>Proyecto integrador para el programa <br> YoProgramo de Argentina </h4><br>
    <p>
        Se trata de una app web creada y diseña por el usuario donde
        aqui se incluira el curriculum de este en modo de portfolio. <br>
        Se incluira informacion de la persona con sus respectivos
        datos, experiencia laboral, formaciones, logros, objetivos
        y habilidades entre otros. <br>
        <br>
        Copyright 2023 Matias Macijaukas <br>
        Ultima edicion: 12/05/2023
    </p>

    <a routerLink="/">inicio</a>
</div>
</div>