.gradient-custom {
    /* fallback for old browsers */
    background: #1c1029;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgb(3, 26, 65));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(9, 1, 17), rgb(61, 10, 97))
}