<div class="central">
    <h3>Proyectos</h3>
    <button type="button" class="btn btn-outline-success" *ngIf="isLogged" (click)="onClick()">+</button>
    <ul>
        <div *ngFor="let Proyectos of proj"><!--Repeticion de los proyectos encontrados en una lista-->
            <div class="row">
            <li class="col-10" style="margin-bottom: 10px;">
                <h5>{{Proyectos.nombreProject}}</h5>
                <p style="display: inline;" >{{Proyectos.informacion}} </p>
            </li>
            <div class="col-2 botones">
                <div>
                <button class="btn btn-success" *ngIf="isLogged" (click)="onEditInit(Proyectos.id)"><i
                        class="bi bi-pencil"></i></button>
                <button class="btn btn-danger" *ngIf="isLogged" (click)="onDelete(Proyectos.id)"><i class="bi bi-x-lg"></i></button>
                <!--Botones de edicion-->
                </div>
            </div>
            </div>
        </div>
        <div *ngIf="isLogged && agregarProyecto">
            <!--Formulario para agregar un proyecto si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please enter new project</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreProject">Nombre del proyecto</label>
                        <input type="text" id="nombreProject" name="nombreProject" class="form-control" [(ngModel)]="nombreProject" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="informacion">Descripcion del proyecto</label>
                        <input type="text" id="informacion" name="informacion" class="form-control"
                            [(ngModel)]="informacion" required />
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Add</button>
                </form>
            </div>
        </div>
        <div *ngIf="isLogged && projEdit && isEditing"><!--Formulario para editar un logro si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please edit the selected project</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onUpdate(projEdit.id)" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreProject">Nombre del proyecto</label>
                        <input type="text" id="nombreProject" name="nombreProject" class="form-control"
                            [(ngModel)]="projEdit.nombreProject" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="informacion">Descripcion del proyecto</label>
                        <input type="text" id="informacion" name="informacion" class="form-control"
                            [(ngModel)]="projEdit.informacion" required />
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </ul>
</div>
<!--
    <ul>
        <li>Portfolio Web</li>
        <li>Parlante</li>
        <li>Generador de señales</li>
        <li>SIstema de seguridad</li>
    </ul>
-->