<div class="central">
    <h3>Habilidades</h3>
    <ul>
        <li>Arreglos de dispositivos electronicos</li>
        <li>Instalaciones electricas y carpinteria</li>
        <li>Programacion(Lenguaje C, Javascript, Css, Typescrip)</li>
        <li>Programas:
            <ul>
                <li>Proteus</li>
                <li>Mplab</li>
                <li>AutoCad</li>
                <li>TexStudio</li>
                <li>LOGO(PLC)</li>
                <li>Visual Studio Code</li>
            </ul>
        </li>
    </ul>
</div>