<div class="central">
    <h3>Formación Academica</h3>
    <ul>
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>Escuela Cristina Evangelica Argentina - Tecnico electronico</h5>
                <p style="display: inline;">Aprendisaje y entendimientos de: instalaciones electricas, diseño y reparacion de
                dispositivos electronicos, programacion, entre otras cosas. </p>
            </div>
        </div>
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>Taller MELI</h5>
                <p style="display: inline;">Curso de capacitacion, gestion y manejo de Mercado Libre</p>
            </div>
        </div>
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>SeProgramar y YoPrograma4.0</h5>
                <p style="display: inline;">Curso de programacion de Full Stack Jr</p>
            </div>
        </div>
    </ul>
    <!--
    <ul>
        <li>Escuela Cristina Evangelica Argentina - Tecnico electronico<br />
            Aprendisaje y entendimientos de: instalaciones electricas, diseño y reparacion de
            dispositivos electronicos, programacion, entre otras cosas.</li>
        <li>Idiomas<br />
            Ingles Intermedio.(Formacion durante 8 años)</li>
        <li>Taller MELI<br />
            Curso de capacitacion, gestion y manejo de Mercado Libre</li>
        <li>SeProgramar y YoPrograma4.0<br />
            Curso de programacion de paginas web (Full Stack)</li>
        <li>Curso Siemens S.A.<br />
            Curso de formacion e informacion acerca de Siemens S.A.</li>
        <li>Talleres Artisticos<br />
            Formacion en diferentes estilos de dibujo y diseño</li>
    </ul>
-->
</div>