<div class="central">
    <h3>Formación Academica</h3>
    <button type="button" class="btn btn-outline-success" *ngIf="isLogged" (click)="onClick()">+</button>
    <ul>
        <div *ngFor="let Education of edu"><!--Repeticion de las formaciones encontradas en una lista-->
            <div class="row">
                <li class="col-2">
                    <img src={{Education.imagen}} class="img-fluid imagenfoto" alt="Foto Perfil">
                </li>
                <div class="col-8" style="margin: auto;">
                    <h5>{{Education.nombreCurso}}</h5>
                    <p style="display: inline;">{{Education.infoCurso}} </p>
                    <p style="display: inline;">({{Education.fechaInicio}} - {{Education.fechaFin}})</p>
                </div>
                <div class="col-2 botones">
                    <div>
                        <button class="btn btn-success" *ngIf="isLogged" (click)="onEditInit(Education.id)"><i
                                class="bi bi-pencil"></i></button>
                        <button class="btn btn-danger" *ngIf="isLogged" (click)="onDelete(Education.id)"><i
                                class="bi bi-x-lg"></i></button>
                        <!--Botones de edicion-->
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLogged && agregarCurso"><!--Formulario para agregar una formacion si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please enter new training</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreCurso">Nombre del curso o formacion</label>
                        <input type="text" id="nombreCurso" name="nombreCurso" class="form-control" [(ngModel)]="eduEdit.nombreCurso"
                            required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="infoCurso">Descripcion del curso</label>
                        <input type="text" id="infoCurso" name="infoCurso" class="form-control" [(ngModel)]="eduEdit.infoCurso"
                            required />
                    </div>
                    <div class="form-group mb-4 col-6 fechasInicio">
                        <label class="form-label" for="fechaInicio">Fecha de inicio</label>
                        <input type="month" id="fechaInicio" name="fechaInicio" class="form-control" [(ngModel)]="eduEdit.fechaInicio"
                            required />
                    </div>
                    <div class="form-group mb-4 col-6 fechasFin">
                        <label class="form-label" for="fechaFin">Fecha de fin</label>
                        <input type="month" id="fechaFin" name="fechaFin" class="form-control" [(ngModel)]="eduEdit.fechaFin" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="imagen">Imagen/Logo del curso/establecimiento/formacion</label>
                        <input type="file" id="imagen" name="imagen" class="form-control" [(ngModel)]="eduEdit.imagen"
                            (change)="uploadImage($event)" (click)="loading()" accept=".jpg, .jpeg, .png" />
                        </div>
                        <div *ngIf="loadingImage">
                            <div class="spinner-border text-primary inline" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="d-inline"> Loading...</p>
                        </div>
                        <div class="form-group mb-4">
                            <img [src]="imgServ.url" width="200px">
                        </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Add</button>
                </form>
            </div>
        </div>
        <div *ngIf="isLogged && eduEdit && isEditing">
            <!--Formulario para editar una formacion si el usuario esta loggeado-->
            <h3 class="fw-bold mb-2 text-uppercase">Please edit the selected training</h3>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onUpdate(eduEdit.id)" novalidate>
                    <div class="form-group mb-4">
                        <label class="form-label" for="nombreCurso">Nombre del curso/establecimiento/formacion</label>
                        <input type="text" id="nombreCurso" name="nombreCurso" class="form-control" [(ngModel)]="eduEdit.nombreCurso"
                            required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="infoCurso">Descripcion de la formacion</label>
                        <input type="text" id="infoCurso" name="infoCurso" class="form-control" [(ngModel)]="eduEdit.infoCurso"
                            required />
                    </div>
                    <div class="form-group mb-4 col-6 fechasInicio">
                        <label class="form-label" for="fechaInicio">Fecha de inicio</label>
                        <input type="month" id="fechaInicio" name="fechaInicio" class="form-control" [(ngModel)]="eduEdit.fechaInicio"
                            required />
                    </div>
                    <div class="form-group mb-4 col-6 fechasFin">
                        <label class="form-label" for="fechaFin">Fecha de fin</label>
                        <input type="month" id="fechaFin" name="fechaFin" class="form-control" [(ngModel)]="eduEdit.fechaFin" required />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="imagen">Imagen/Logo del curso/establecimiento/formacion</label>
                        <input type="file" id="imagen" name="imagen" class="form-control" 
                            (change)="uploadImage($event)" (click)="loading()" accept=".jpg, .jpeg, .png" />
                        </div>
                        <div *ngIf="loadingImage">
                            <div class="spinner-border text-primary inline" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="d-inline"> Loading...</p>
                        </div>
                        <div class="form-group mb-4">
                            <img [src]="imgServ.url" width="200px">
                        </div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </ul>
        <!--
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>Escuela Cristina Evangelica Argentina - Tecnico electronico</h5>
                <p style="display: inline;">Aprendisaje y entendimientos de: instalaciones electricas, diseño y reparacion de
                dispositivos electronicos, programacion, entre otras cosas. </p>
            </div>
        </div>
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>Taller MELI</h5>
                <p style="display: inline;">Curso de capacitacion, gestion y manejo de Mercado Libre</p>
            </div>
        </div>
        <div class="row">
            <li class="col-2">
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
            </li>
            <div class="col-10" style="margin: auto;">
                <h5>SeProgramar y YoPrograma4.0</h5>
                <p style="display: inline;">Curso de programacion de Full Stack Jr</p>
            </div>
        </div>
    -->
    
    <!--
    <ul>
        <li>Escuela Cristina Evangelica Argentina - Tecnico electronico<br />
            Aprendisaje y entendimientos de: instalaciones electricas, diseño y reparacion de
            dispositivos electronicos, programacion, entre otras cosas.</li>
        <li>Idiomas<br />
            Ingles Intermedio.(Formacion durante 8 años)</li>
        <li>Taller MELI<br />
            Curso de capacitacion, gestion y manejo de Mercado Libre</li>
        <li>SeProgramar y YoPrograma4.0<br />
            Curso de programacion de paginas web (Full Stack)</li>
        <li>Curso Siemens S.A.<br />
            Curso de formacion e informacion acerca de Siemens S.A.</li>
        <li>Talleres Artisticos<br />
            Formacion en diferentes estilos de dibujo y diseño</li>
    </ul>
-->
</div>